fastapi
uvicorn[standard]
openai
groq
elevenlabs
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
httpx
python-dotenv
pydantic
pydantic-settings
psycopg2-binary
pydub
